button {
  padding: 8px 15px;
  background-color: #f2f2f2;
  color: #606367;
  font-size: 14px;
  border: 1px solid #efefef;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  width: 150px;
  margin: 0 10px;
  &:hover {
    color: #222222;
    background: #f3f3f3;
    border: 1px solid #f5f5f5
  }
}
