@base-font-padding: 15px;
@location-font-size: 15px;
@link-font-size: 13px;

footer {

  width: 100%;
  position: absolute;
  bottom: 0;

  section {
    width: 100%;
    box-sizing: border-box;
    line-height: 40px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    color: #777777;
    margin-top: 0;

    &:first-child {
      border-bottom: 0;
      padding-left: 2 * @base-font-padding;
      font-size: @location-font-size;
    }

    nav:first-child {
      float: left;
      padding-left: @base-font-padding;
    }

    nav:nth-child(2) {
      padding-right: @base-font-padding;
    }
  }
}
