section {
  margin-top: 20px;
  text-align: center;

  span {
    margin: 5px 5px;
    font-size: small;
    line-height: 28px;

    a {
      text-decoration: none;
      color: #121da4;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}
